@charset "utf-8";

* {
	border:0;
	padding:0;
	margin:0;
}

body, html{
	background:#EEE;
}

.wrap{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.query-wrap{
	display:flex;
	flex-direction:row;
	width:100%;
	text-align:center;
}
.query{
	flex:9;
	padding:10px;
	background:#FFF;
	font-family: 'Source Code Pro', monospace;
	font-size:1.6rem;
}
.active{
	flex:1;
	background:#2196F3;
	font-size:1rem;
	color:#FFF;
}

.success{ background-color: #4CAF50; }
.success:hover{ background-color: #46a049; }

.info{ background-color: #2196F3; }
.info:hover{ background: #0b7dda; }

.warning{ background-color: #ff9800; }
.warning:hover{ background: #e68a00; }

.danger{ background-color: #f44336; }
.danger:hover{ background: #da190b; }

.default{ background-color: #e7e7e7; color: black; }
.default:hover{ background: #ddd; }

.data-wrap{
	width:100%;
}

.table-frame{
	overflow-x:auto;
	overflow-y:auto;
}
.table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	border:1px solid #DDD;
	background:#FFF;
	font-size:1.2rem;
}
.table th, .table td {
	text-align:left;
	padding:8px;
}
.table tr:nth-child(even) {
	background:#F2F2F2;
}